language: cpp
dist: trusty
sudo: required 
compiler:
    - gcc
    - clang
os:
    - linux
    - osx
notifications:
    email:
        recipients:
            - dilawar.s.rajput@gmail.com
            - bhalla@ncbs.res.in
            - hrani@ncbs.res.in
            - ray.subhasis@gmail.com
        on_success: change
        on_failure: always

env:
    - CTEST_MODEL=Nightly
cache: apt

matrix:
    allow_failure:
        os: osx
        
before_script : 
    - echo "OSX related"
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ./.travis/travis_prepare_osx.sh; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then sudo ./.travis/travis_prepare_linux.sh; fi

script:
    - # checking if any python3 incompatible file is in the source tree.
    - python2 -m compileall -q .
    - if type python3 -c 'import sys' > /dev/null; then python3 -m compileall -q . ; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then ./.travis/travis_build_osx.sh; fi
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./.travis/travis_build_linux.sh; fi
