sudo: required
language: cpp

os:
    - linux
    - osx

branches:
    only:
        - master
        - chamcham
        - chhennapoda

notifications:
    email:
        recipients:
            - dilawar.s.rajput@gmail.com
            - bhalla@ncbs.res.in
            - hrani@ncbs.res.in
        on_success: change
        on_failure: always

before_script:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./.travis_prepare_linux.sh; fi

script:
    - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then ./.travis_build_linux.sh; fi
    - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; brew tap BhallaLab/moose; brew install moose; fi

