global-include *.h
global-include *.cpp
global-include *.c
global-include configure.ac
global-include *.hpp
global-include *.cc
global-include *.py
global-include CMakeLists.txt
include README
graft cmake_modules
graft gsl
graft external
graft Demos
graft Docs
prune buildMooseUsingCmake
