#!/usr/bin/make -f

# export DH_VERBOSE=1

## Here goes the debian make.

%:
	dh "$@" --with python2

override_dh_auto_clean:
	rm -rf $(BUILD_DIR_MOOSE)
	dh_auto_clean --buildsystem=cmake

# consider using -DUSE_VERSIONED_DIR=ON if backporting
override_dh_auto_configure:
	cmake -DPACKAGING_ON_LAUNCHPAD=ON -DCMAKE_INSTALL_PREFIX=debian/tmp

override_dh_auto_build:
	make VERBOSE=0 -j`nproc`

override_dh_auto_install:
	make install

override_dh_shlibdeps:
	dh_shlibdeps --dpkg-shlibdeps-params=--ignore-missing-info

override_dh_python2:
	dh_python2 --no-guessing-versions
