[Desktop Entry]
Name=MOOSE
GenericName=MOOSE
Exec=moosegui
Type=Application
Version=3.0
Icon=/usr/share/icons/moose/moose.png
Categories=Education;Science;Education;Chemistry;
